<div class="container">
  <div class="container-inner">
    <div class="article-header">
      <h1>FIND THE BEST APP DEVELOPER</h1>
    </div>
    <div class="article-info">
      <h5>
        Not able to decide which company is best for your requirement? Don't worry - we are here to help you.
        <br><br>
        Provide us your requirement and then we'll choose the best 5 companies according to your requirement &
        preference and will ask them to contact you.</h5>
    </div>
    <div class="form">
      <ng-flash-message></ng-flash-message>
      <form (ngSubmit)="projectRegister()" #projectRegisterLR="ngForm">
        <div class="spacing">
          <label for="projectType">Project Type (e.g. Mobile & Web App Development or Blockchain App
            Development)<span class="required">*</span></label>
          <input type="text" class="form-control" id="projectType" ngModel name='projectType' #projectType='ngModel'
            required>
          <span class="help-block" *ngIf="!projectType.valid && projectType.touched">Please provide a value of Project
            Type (e.g. Mobile & Web App Development or Blockchain App Development)</span>
        </div>
        <div class="spacing">
          <label for="budget">Budget (e.g. $40K or $6K per month)<span class="required">*</span></label>
          <input type="text" class="form-control" id="budget" ngModel name='budget' #budget='ngModel' required>
          <span class="help-block" *ngIf="!budget.valid && budget.touched">Please provide a value of Budget (e.g. $40K
            or $6K per month)</span>
        </div>
        <div class="spacing">
          <label for="timeline">Timeline (How soon you want to get the project completed)<span
              class="required">*</span></label>
          <input type="text" class="form-control" id="timeline" ngModel name='timeline' #timeline='ngModel' required>
          <span class="help-block" *ngIf="!timeline.valid && timeline.touched">Please provide a value of Timeline (How
            soon you want to get the project completed)</span>
        </div>
        <div class="spacing">
          <label for="getStarted">When you want to get started (e.g. ASAP, after 2 months)<span
              class="required">*</span></label>
          <input type="text" class="form-control" id="getStarted" ngModel name='getStarted' #getStarted='ngModel'
            required>
          <span class="help-block" *ngIf="!getStarted.valid && getStarted.touched">Please provide a value of When you
            want to get started (e.g. ASAP, after 2 months)</span>
        </div>
        <div class="spacing">
          <label for="locationPref">Location Preferences (if any)</label>
          <input type="text" class="form-control" id="locationPref" ngModel name='locationPref'>
        </div>
        <div class="spacing">
          <label for="technologyPref">Technology Preference (if any)</label>
          <input type="text" class="form-control" id="technologyPref" ngModel name='technologyPref'>
        </div>
        <div class="spacing">
          <label for="projectDetails">Project Details<span class="required">*</span></label>
          <input type="text" class="form-control" id="projectDetails" ngModel name='projectDetails'
            #projectDetails='ngModel' required>
          <span class="help-block" *ngIf="!projectDetails.valid && projectDetails.touched">Please provide a value of
            Project Details</span>
        </div>
        <div class="spacing">
          <label for="file">Do you have mockups/Designs/Detailed Requirement Document available? If yes, please upload.
            (Max allowed file size 35 MB)</label>
          <input type="file" name="image" (change)="updatePhoto($event)" />
        </div>
        <div class="spacing">
          <label for="name">Your Name<span class="required">*</span></label>
          <input type="text" class="form-control" id="name" ngModel name='name' #name='ngModel' required>
          <span class="help-block" *ngIf="!name.valid && name.touched">Please provide a name.</span>
        </div>
        <div class="spacing">
          <label for="email">Email address<span class="required">*</span></label>
          <input type="text" class="form-control" id="email" ngModel name='email' #email='ngModel' required email>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please provide a email address.</span>
        </div>
        <div class="spacing">
          <label for="position">Position<span class="required">*</span></label>
          <input type="text" class="form-control" id="position" ngModel name='position' #position='ngModel' required>
          <span class="help-block" *ngIf="!position.valid && position.touched">Please provide your
            position.</span>
        </div>
        <div class="spacing">
          <label for="organization">Organization<span class="required">*</span></label>
          <input type="text" class="form-control" id="organization" ngModel name='organization' #organization='ngModel'
            required>
          <span class="help-block" *ngIf="!organization.valid && organization.touched">Please provide your
            organization.</span>
        </div>
        <div class="spacing">
          <label for="location">Your location<span class="required">*</span></label>
          <input type="text" class="form-control" id="location" ngModel name='location' #location='ngModel' required>
          <span class="help-block" *ngIf="!location.valid && location.touched">Please provide your location.</span>
        </div>
        <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
        <button type="submit" name="button1" id="button1" [disabled]="!projectRegisterLR.valid"
          class="btn btn-success spacing">SEND</button>

      </form>
    </div>
  </div>
</div>